@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #09090b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --glass: hsla(0, 0%, 100%, 0.05);
  --glass-hover: hsla(0, 0%, 100%, 0.1);
  --glass-border: hsla(0, 0%, 100%, 0.1);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.hovertext {
  position: relative;
  /* border-bottom: 1px dotted black; */
}

.hovertext:hover {
  opacity: 0.9;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  background-color: rgb(41, 36, 40);
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;

  position: absolute;
  z-index: 1;
  left: -70%;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

ul {
  list-style-type: none;
}
